body{
  background-color: #14314f;
}

.titulo{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: white;
  margin-top: 20px;
}

.contenedor-principal{
  width: 420px;
  height: 480px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #1b1b23;
  border-radius: 20px;
  background-color:  #24303c;
}

.fila{
  display: flex;
  margin-top: 20px;
  color: white;
}